---
//component imports
import MainLayout from "../../layouts/MainLayout.astro";
import HeroSection from "../../components/sections/HeroSection.astro";
import SingleSection from "../../components/sections/SingleSection.astro";
import AccordionItem from "../../components/ui/AccordionItem.astro";
import Card from "../../components/ui/Card.astro";
import CardsSection from "../../components/sections/CardsSection.astro";
import Button from "../../components/ui/Button.astro";
import BannerCard from "../../components/sections/BannerCard.astro";

//ui and data imports
import { heroContent } from "../../data/heroContent";
import { accordionItems } from "../../data/accordionItems";

const { title, description } = heroContent.rekruttering;
const [itemOne, itemTwo, itemThree, itemFour, itemFive, itemSix, itemSeven, itemEight, itemNine] = accordionItems;
---

<MainLayout title="Heber hodejeger | Rekruttering">
  <HeroSection title={title} description={description}>
    <Button href="/hvorfor-velge-meg" variant="oxblood">Hvorfor velge meg?</Button>
    <Button href="/kundehistorier" variant="outline">Kundehistorier</Button>
  </HeroSection>
  <SingleSection>
    <h2 class="text-3xl mb-6">Fullstendig prosess med kandidatsøk</h2>
    <p class="mb-6">
      Nedenfor beskrives en fullstendig prosess med kandidatsøk. Men, jeg er fleksibel, så dette kan også fungere som en a la carte meny, der du kan plukke det
      du har behov for. Noen alternativer skisseres lengre ned. Ta kontakt om ditt behov ikke er beskrevet her, så finner vi en løsning.
      <br />
      <br />
      <span class="font-medium">Trinnene i prosessen vil være som følger:</span>
    </p>
    <ol class="flex flex-col gap-4">
      <AccordionItem {...itemOne}>
        <p>
          For å sikre en god rekruttering er det viktig at vi blir godt kjent. Vi starter derfor med et fysisk oppstartsmøte hos deg som oppdragsgiver. Vi
          setter av romslig med tid til dette møtet, og alle som har påvirkning på prosessen bør delta. Her må vi gjennomføre en grundig kartlegging av alt som
          er relevant. Hvordan er nåsituasjonen? Har organisasjonen spesifikke utfordringer? Finnes det konkurrenter? Hvordan er arbeidsmiljøet? Så går vi
          gjennom rollen: oppgaver, utfordringer og mål for stillingen, samt hva som kreves av kompetanse, erfaring og personlige egenskaper.
          <br />
          <br />
          Til lederstillinger utføres også konfidensielle en-til-en-samtaler med dem den nye lederen skal ha personalansvar for (eventuelt med utvalgte representanter
          for disse).
          <br />
          <br />
          Etter dette møtet utarbeider jeg et utkast til en skriftlig arbeids- og kravspesifikasjon som oversendes oppdragsgiver. Dette er vårt interne arbeidsdokument.
          Utdrag av denne kan sendes mulige kandidater som ønsker mer informasjon før de ev. kommer på samtale.
        </p>
      </AccordionItem>
      <AccordionItem {...itemTwo}>
        <p>
          Når vi er blitt enige om arbeids- og kravspesifikasjonen, gjennomfører jeg målrettete søk etter interessante profiler med støtte av egen database og
          nettverk, samt i relevante eksterne jobbdatabaser. Dersom oppdragsgiver ønsker det, oversendes en &quot;longlist&quot; over disse interessante
          profilene. Oppdragsgiver får anledning til å kommentere; her kan det være kjente navn. De profilene vi er enige om, vil jeg så ta kontakt med og lodde
          interesse for rollen. Deretter inviteres dem som viser interesse til en innledende, uforpliktende første samtale – overfor dem som har blitt søkt opp
          av meg kan det være lurt å unngå å bruke «intervju».
        </p>
      </AccordionItem>
      <AccordionItem {...itemThree}>
        <p>
          Søket suppleres eventuelt med velegnet annonsering for stillingen. En annonse kan fange kandidater vi ikke normalt ville hatt på en kandidatsøk-liste;
          eksempelvis folk på flyttefot.
        </p>
      </AccordionItem>
      <AccordionItem {...itemFour}>
        <p>
          I rekrutteringsprosessen, særlig i tidlig fase, vil jeg være en slags ambassadør for deg som oppdragsgiver. I den første samtalen vil jeg beskrive
          organisasjonen og stillingen. Her gis en ærlig, saklig og positiv informasjon, slik at kandidatene sitter igjen med et godt og realistisk inntrykk. Er
          det utfordringer av negativ karakter i stillingen eller i organisasjonen, må frem i lyset, men kan informeres om i en senere fase. Kandidaten kan om
          ønskelig underskrive en NDA.
          <br />
          <br />
          Kandidatenes grunnleggende kompetanse, motivasjon og personlighet blir vurdert. Dette gjennom en detaljert gjennomgang av CV og annen relevant erfaring.
          Formalia, deriblant lønnsforventninger og oppsigelsestid, er også tema i det første intervjuet.
        </p>
      </AccordionItem>
      <AccordionItem {...itemFive}>
        <p>
          Etter de innledende rundene vil man forhåpentlig stå igjen med 5-7 kandidater som både er kvalifisert for og interessert i rollen. Disse møter
          oppdragsgiver. Nå vil det være viktig å avstemme personlig profil og kjemi, samt bekrefte faglig kompetanse. I denne fasen er det også naturlig at
          oppdragsgiver svarer på mer detaljerte spørsmål knyttet til stillingen og arbeidsplassen.
        </p>
      </AccordionItem>
      <AccordionItem {...itemSix}>
        <p>
          De mest relevante kandidatene inviteres videre i prosessen. Neste skritt at kandidatene tar noen evne- og personlighetstester, samt fyller ut et
          egenvurderingsskjema. Dette vil være grunnlag for et dybdeintervju som vil handle om kandidatens motivasjon og personlige egenskaper. Testene er laget
          av AON Assessment som er godkjent av Det Norske Veritas.
        </p>
        <ul class="list-disc pl-5 space-y-2 my-4">
          <li>
            Personlighetstesten (Adept 15) kartlegger blant annet kandidatens relasjoner til andre, arbeidsstil/tilnærmingsmåte til arbeidet,
            motivasjonsfaktorer, energi og evne til problemløsning og dersom relevant, lederstil.
          </li>
          <li>Videre bruker jeg to resonneringsevnetester, som kartlegger verbale og numeriske evner.</li>
          <li>
            Kandidaten får også et egenvurderingsskjema, der hen beskriver seg selv. Dette setter jeg opp mot resultatene fra personlighetstesten. Jeg ber i
            dette skjema også om ytterligere formalia-informasjon, der kandidaten selv skriftlig oppgir lønnsnivå og - forventning, oppsigelsestid,
            referansepersoner mm.
          </li>
          <li>
            Når kandidaten har fullført disse, gjennomfører vi et grundig dybdeintervju. Kandidaten får en personlig tilbakelesning på testresultatene og
            selvsagt anledning til å kommentere. Jeg setter alltid av god tid til disse samtalene, nettopp fordi personlig egnethet og motivasjon er så viktig i
            organisasjonslivet.
          </li>
        </ul>
        <p>I denne fasen må kandidater gi tilgang til vitnemål via Vitnemålsportalen for å dokumentere både utdanning og ID.</p>
      </AccordionItem>
      <AccordionItem {...itemSeven}>
        <p>
          Heber hodejeger utfører alltid referansesjekk, fra minst to, som oftest tre personer. Dette er en svært viktig del av rekrutteringsprosessen og må
          forberedes svært godt. Referansene innhentes fra tidligere arbeidsgivere, nærmeste ledere og ansatte på samme nivå som kandidaten. Til lederstillinger
          innhentes også alltid referanse fra tidligere underordnede. <span class="font-semibold"
            >Referanser ringes personlig. Heber hodejeger benytter aldri digital referansesjekk.</span
          >
        </p>
      </AccordionItem>
      <AccordionItem {...itemEight}>
        <p>
          Etter testintervjuene og referansesamtalene rapporteres kandidatene til deg som oppdragsgiver før gjennomføring av sluttintervju. Sluttintervjuet
          inneholder blant annet en eller flere caseoppgaver som gis i møtet. Det er mest rettferdig at alle kandidater får samme oppgave og under like forhold.
          Av den grunn fraråder jeg at oppgave gis på forhånd. (Bruken av KI tilsier også at oppgave bør gis i møtet.) Målet er å se kandidatene i en mest mulig
          realistisk og relevant situasjon. Man ser ofte at slike caseoppgaver kan gjøre det lettere å skille ellers like kandidater.
          <br />
          <br />
          Når oppdragsgiver har klar sin innstilling vil det gis et tilbud til valgt kandidat.
        </p>
      </AccordionItem>
      <AccordionItem {...itemNine}>
        <p>
          Etter noen måneders ansettelse gjennomføres en oppfølgingssamtale med oppdragsgiver og kandidat hver for seg. Dette for å avstemme at forventninger er
          tilfredsstilt fra begge parter. Denne samtalen gir mulighet for dialog og eventuell korrigering.
        </p>
      </AccordionItem>
    </ol>
  </SingleSection>
  <article>
    <div class="max-w-[800px] mx-auto px-4 py-6">
      <h2 class="text-center font-semibold text-2xl mb-4">Anbefalte prosesser</h2>
      <p>
        Enhver rekruttering kan tilpasses ditt behov. Jeg kan ta ansvar for hele prosessen, eller bare deler av den. Du bestemmer. Ta kontakt for en
        uforpliktende prat om hva jeg kan bistå med
      </p>
      <div class="mx-auto mt-8 flex flex-wrap gap-3 justify-center">
        <Button href="/kontakt" variant="beige">Ta kontakt</Button>
      </div>
    </div>

    <CardsSection>

        <Card borderColor="border-heber-beige/50" title="Prosess med kandidatsøk uten testing" description="Samme prosess som over, uten pkt. 6" />
   
        <Card borderColor="border-heber-beige/50" title="Annonsert prosess med testing" description="Samme prosess som over, uten pkt. 2 og uten garanti" />

        <Card
          borderColor="border-heber-beige/50"
          title="Annonsert prosess uten testing"
          description="Samme prosess om over, uten pkt. 2 og 6 og uten garanti"
        />

        <Card
          borderColor="border-heber-beige/50"
          title="Førstegangsintervjuer"
          description="Oppdragsgiver håndterer den innledende fasen av prosessen selv og vurderer hvilke
kandidater som ønskes intervjuet. Disse overleveres meg, som gjennomfører
førstegangsintervjuer som beskrevet over. Etter intervjuene gis rapport om hvilke kandidater
som best fyller stillingen."
        />

        <Card
          borderColor="border-heber-beige/50"
          title="Kandidatsøk"
          description="Dette er tilbud om man kun ønsker hjelp til å identifisere potensielle kandidater. Jeg får
overlevert en arbeids- og kravspesifikasjon, og leverer liste over et avtalt antall kandidater
som fyller kravene. Her må vi ha en diskusjon i forkant om hva som er realistisk."
        />


        <Card
          borderColor="border-heber-beige/50"
          title="Sluttvurderinger"
          description="Oppdragsgiver gjennomfører prosessen helt inntil sluttfasen. Et antatt finalekandidater
overleveres, og jeg utfører pkt. 7 og 8 og rapporterer muntlig til oppdragsgiver."
        />

    </CardsSection>
  </article>
  <BannerCard
    title="Finn din egen prosess"
    description="Ta kontakt for en uformell og uforpliktende prat om hva du har behov for – en eller flere deler
av prosessen. Vi finner en løsning sammen"
    bgColor="bg-heber-beige/30"
    textColor=""
  >
    <Button href="/kontakt" variant="oxblood">Ta kontakt</Button>
  </BannerCard>
</MainLayout>
