---
//component imports
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="my title for this website" title="my description for this website">
  <h1 class="text-5xl mt-5 ml-5 font-bold">Rekruttering</h1>
</MainLayout>
