---
//component imports
import MainLayout from "../../layouts/MainLayout.astro";
import HeroSection from "../../components/sections/HeroSection.astro";
import Button from "../../components/ui/Button.astro";

---

<MainLayout title="my title for this website" title="my description for this website">
  <HeroSection title="rekruttering" description="hello world" >
    <Button href="/rekruttering" variant="yellow">Rekrutteringstjenester</Button>
    <Button href="/kontakt" variant="outline">Kontakt meg</Button>
  </HeroSection>
</MainLayout>
