---
//component imports
import MainLayout from "../../layouts/MainLayout.astro";
import HeroSection from "../../components/sections/HeroSection.astro";
import SplitSection from "../../components/sections/SplitSection.astro";
import LogoSlider from "../../components/sections/LogoSlider.astro";
import BannerCard from "../../components/sections/BannerCard.astro";
import CardsSection from "../../components/sections/CardsSection.astro";
import Card from "../../components/ui/Card.astro";
import { heroContent } from "../../data/heroContent";
import Button from "../../components/ui/Button.astro";

//asset imports
import image1 from "../../assets/images/images/women1.jpeg";
import image2 from "../../assets/images/images/man1.jpeg";

const { title, description } = heroContent.hvorforVelgeMeg;
---

<MainLayout title="Heber hodejeger | Hvorfor velge meg?">
  <HeroSection title={title} description={description}>
    <Button href="/om-meg" variant="oxblood">Om meg</Button>
     <Button href="/kundehistorier" variant="outline">Kundehistorier</Button>
  </HeroSection>
  <SplitSection>
    <div slot="left">
      <h2 class="text-3xl mb-6">Solid erfaring med organisasjonsrekruttering</h2>

      <p class="text-base">
        Organisasjonslivet er en spesiell, men fantastisk verden. Det vet alle som har vært innom den. Å lykkes og å trives i en politisk styrt organisasjon
        krever mer av personlig innstilling og egnethet enn i en “vanlig” jobb i en privat bedrift eller offentlig virksomhet.
        <br />
        <br />
        Å identifisere denne personlige egnetheten og innstillingen er ikke alltid lett. Men sannsynligheten for å lykkes med å ansette riktig person øker om du velger
        en rekrutterer som kjenner denne verdenen fra innsiden. Heber hodejeger har jobbet mange år i politisk styrte organisasjoner, i tillegg til å ha vært politiker,
        både som folkevalgt, ansatt og frivillig.
        <br />
        <br />
        Heber hodejeger har lykkes godt i å rekruttere til en rekke ulike politisk styrte organisasjoner, både på toppleder-, mellomleder- og spesialistnivå. Rollene
        har vært innen kommunikasjon, politikk, HR, markedsføring, IT, økonomi, mm. Se mer under referanser.
      </p>
    </div>
    <div slot="right">
      <div>
        <img src={image1.src} alt="Bilde av en dame" />
      </div>
    </div>
  </SplitSection>
  <LogoSlider />
  <SplitSection>
    <div slot="left">
      <div>
        <img src={image2.src} alt="Bilde av en mann" />
      </div>
    </div>
    <div slot="right">
      <h2 class="text-3xl mb-6">Lang erfaring fra rekruttering i kommunikasjons- og markedsfag</h2>

      <p class="text-base">
        Kommunikasjons- og markedsføringsfagene er selvsagt ikke det samme, men har noen felles elementer. Det oppdaget jeg raskt da jeg selv ble ansatt som
        markedsfører etter å ha vært kommunikasjonsrådgiver. Begge krever gode analytiske evner og strategisk tenkning, samt teft og gode antenner.
        <br />
        <br />
        Heber hodejeger har rekruttert til en rekke roller innen kommunikasjon og markedsføring, både til privat næringsliv, byrå og organisasjoner. Se mer under
        referanser.
      </p>
    </div>
  </SplitSection>
  <BannerCard
    title="Rekruttering"
    description="Rekrutteringsbehov kan variere. La meg gjerne ta hånd om prosessen fra A-Å, eller kun deler av den. Jeg er fleksibel."
    bgColor="bg-heber-beige/30"
  >
    <Button href="/rekruttering" variant="oxblood">Rekrutteringstjenester</Button>
  </BannerCard>

  <CardsSection>
    <Card
      bgColor="bg-white"
      title="Kundehistorier"
      href="/kundehistorier"
      description="Jeg har vært så heldig å fått hjelpe et bredt spekter av organisasjoner med rekrutteringer av både ledere og spesialister."
      buttonText="Se mer"
    />

    <Card
      bgColor="bg-white"
      title="Om meg"
      description="Jeg som står bak Heber hodejeger er Anne Marit Heber Nærby. Jeg har over 20 års erfaring fra rekruttering."
      href="/om-meg"
      buttonText="Les mer"
    />

    <Card
      bgColor="bg-white"
      title="Foredrag og workshops"
      href="/foredrag-og-workshops"
      description="Trenger du og din organisasjon tips og triks om hvordan lykkes med rekruttering? Ønsker du å unngå de vanligste feilene man gjør i nyansettelser? Jeg bistår gjerne."
      buttonText="Se mer"
    />
  </CardsSection>
</MainLayout>
