---
//component imports
import MainLayout from "../../layouts/MainLayout.astro";
import HeroSection from "../../components/sections/HeroSection.astro";
import SplitSection from "../../components/sections/SplitSection.astro";
import Button from "../../components/ui/Button.astro";
import image from "../../assets/images/images/am2.webp";
import Card from "../../components/ui/Card.astro";
import BannerCard from "../../components/sections/BannerCard.astro";
import CardsSection from "../../components/sections/CardsSection.astro";

import { heroContent } from "../../data/heroContent";

const { title, description } = heroContent.workshop;
---

<MainLayout title="my title for this website" title="my description for this website">
  <HeroSection title={title} description={description}>
    <Button href="/kontakt" variant="oxblood">Kontakt meg</Button>
  </HeroSection>
  <SplitSection>
    <div slot="left">
      <h2 class="text-3xl mb-6">Hvordan lykkes med rekruttering</h2>
      <p class="text-base">
        Det er mange feller å gå i når man skal rekruttere: Hen er den smarteste kandidaten. Men får hen tilstrekkelig med utfordringer til stillingen din? Hen
        er den mest utadvendte og sjarmerende. Men er det viktig for å lykkes i stillingen din? Hen er den som har lavest lønnsnivå. Men er det lurt å spekulere
        i å lønne lavt? Hen er den som ligner mest på hen som slutter. Men ansetter du for dine nåværende eller fremtidige behov?
        <br />
        <br />

        Så har du bekreftelsesfella – du stiller referansene ja-nei spørsmål som bekrefter det du tror du vet om kandidaten.

        <br />
        <br />

        Ring meg for en uforpliktende prat om du vil ha et foredrag eller en workshop om hvordan unngå de vanligste fellene – og dermed øke sjansene for en
        vellykket rekruttering.
      </p>
    </div>
    <div slot="right">
      <div>
        <img src={image.src} alt="Bilde av Anne Marit Heber Nærby" />
      </div>
    </div>
  </SplitSection>
  <BannerCard
    title="Rekruttering"
    description="Rekrutteringsbehov kan variere. La meg gjerne ta hånd om prosessen fra A-Å, eller kun deler av den. Jeg er fleksibel."
    bgColor="bg-heber-beige/30"
  >
    <Button href="/rekruttering" variant="oxblood">Rekrutteringstjenester</Button>
  </BannerCard>

  <CardsSection>
    <div class="basis-full md:basis-[calc((100%-1.5rem)/2)] xl:basis-[calc((100%-3rem)/3)]">
      <Card bgColor="bg-white" title="Rekruttering" description="Finn personene som passer deres behov og gjør rett ansettelse" href="#" buttonText="Les mer" />
    </div>
    <div class="basis-full md:basis-[calc((100%-1.5rem)/2)] xl:basis-[calc((100%-3rem)/3)]">
      <Card
        bgColor="bg-white"
        title="Rådgivning"
        description="Forbedre dine sjanser om jobbtilbud og intervjuer! Det kan være vanskelig å skille seg ut i mengden. Jeg hjelper deg med å løfte frem din kompetanse og egenskaper i CV'n og å skrive en god søknad - for nei, søknadsteksten er ikke død."
        href="#"
        buttonText="Les mer"
      />
    </div>
    <div class="basis-full md:basis-[calc((100%-1.5rem)/2)] xl:basis-[calc((100%-3rem)/3)]">
      <Card bgColor="bg-white" title="Ledige stillinger" href="#" buttonText="Se ledige stillinger" />
    </div>
  </CardsSection>
</MainLayout>
