---
import "../styles/global.css";
import type { SeoMeta } from "../types/seoMeta";

// component imports
import MainHead from "./MainHead.astro";
import Header from "../components/site/Header.astro";
import Footer from "../components/site/Footer.astro";

export type Props = SeoMeta;

const {
  title = "Heber Hodejeger | Rekruttering, rådgivning, foredrag og workshops",
  description = "Heber Hodejeger hjelper organisasjoner og bedrifter med rekruttering og rådgivning, særlig innen organisasjon, kommunikasjon og markedsføring.",
} = Astro.props;

//Checks if the current route is the front page "/"
const isHome = Astro.url.pathname === "/";
---

<html lang="no">
  <MainHead {title} {description} />
  <body class="min-h-screen flex flex-col overflow-x-hidden">
    <Header isHome={isHome} />
    <main class="flex-1 px-2">
      <slot />
    </main>
    <Footer />
  </body>
</html>
