---
import logo from "../../assets/images/logo/HEBER_TOTAL_HVIT.svg";
import fullstakk from "../../assets/images/logo/Fullstakk_LogoMain_RGB_StakkKrem.svg";
---

<footer class="bg-heber-oxblood text-white text-sm font-normal pt-[100px] pb-[50px] mt-37">
  <div class="flex flex-col gap-12 max-w-[1440px] mx-auto px-8">
    <div class="flex gap-24 flex-wrap">
      <div class="w-[150px]">
        <a href="/"><img src={logo.src} alt="heber logo" /></a>
      </div>
      <ul class="mt-8">
        <li class="mb-5">Telefon: <a class="font-semibold" href="tel:+4792449114">+47 924 49 114</a></li>
        <li class="mb-5">E-post: <a class="font-semibold" href="mailto:annemarit@heberhodejeger.no">annemarit@heberhodejeger.no</a></li>
        <li class="mb-5">Org nr. <span class="font-semibold">928 48 3991</span></li>
      </ul>
      <ul class="mt-8">
        <li class="mb-5"><a href="/rekruttering">Rekruttering</a></li>
        <li class="mb-5"><a href="/Rådgivning">Kundehistorier</a></li>
        <li class="mb-5"><a href="/hvorfor-velge-meg">Hvorfor velge meg?</a></li>
        <li class="mb-5"><a href="/foredrag-og-workshops">Foredrag og workshops</a></li>
        <li class="mb-5"><a href="/kundehistorier">Kundehistorier</a></li>
        <li class="mb-5"><a href="/om-meg">Om meg</a></li>
        <li class="mb-5"><a href="/kontakt">Kontakt</a></li>
        <li class="mb-5"><a href="/ledige-stillinger">Ledige stillinger</a></li>
      </ul>
    </div>
    <div class="border-t border-white pt-10 flex justify-between flex-wrap gap-6">
      <p>© 2026 Heber hodejeger. Alle rettigheter forbeholdt.</p>
      <div>
        <p class="mr-3">Webdesign og utvikling fra</p>
        <div class="ml-auto w-[100px]">
          <a href="https://www.fullstakk.no/"><img src={fullstakk.src} alt="fullstakk logo" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
