---
import logo from "../../assets/images/logo/HEBER_TOTAL_HVIT.svg";
---

<footer class="bg-heber-oxblood text-white text-sm font-normal pt-[100px] pb-[50px] mt-37">
  <div class="flex flex-col gap-12 max-w-[1440px] mx-auto px-8">
    <div class="flex">
      <div class="w-[150px]">
        <a href="/"><img src={logo.src} alt="heber logo" /></a>
      </div>
      <ul class="mt-8">
        <li class="ml-5 mb-2"><a href="tel:+4792449114">Telefon: +47 924 49 114</a></li>
        <li class="ml-5 mb-2"><a href="mailto:amhn1968@live.no">E-post: amhn1968@live.no</a></li>
        <li class="ml-5 mb-2">Org nr. 123 456 12</li>
      </ul>
      <ul class="mt-8">
        <li class="ml-5 mb-2"><a href="#">Rekruttering</a></li>
        <li class="ml-5 mb-2"><a href="#">Kundehistorier</a></li>
        <li class="ml-5 mb-2"><a href="#">Om meg</a></li>
        <li class="ml-5 mb-2"><a href="#">Kontakt</a></li>
        <li class="ml-5 mb-2"><a href="#">Ledige stillinger</a></li>
      </ul>
    </div>
    <div class="border-t border-white pt-10">
      <p>© 2026 Heber Hodejeger. Alle rettigheter forbeholdt.</p>
    </div>
  </div>
</footer>
