---

---

<header class="border border-blue-500">
  <div class="flex col justify-between border border-red-500 max-w-7xl mx-auto" >
    <div>
    <a href="#">logo</a>
  </div>
  <nav>
    <ul class="flex col gap-5">
      <li>
        <details class="relative">
          <summary>
            Tjenester
          </summary>
          <ul class="p-10 border border-blue-500 fixed" >
            <li><a href="#">Rekruttering</a></li>
            <li><a href="#">Rådgivning</a></li>
          </ul>
        </details>
      </li>
      <li><a href="#">Link Item</a></li>
      <li><a href="#">Link Item</a></li>
      <li><a href="#">Link Item</a></li>
      <li><a href="#">Link Item</a></li>
    </ul>
  </nav>
  </div>
</header>
