---

---

<header class="border border-red-500">
  <div>
    <a href="#">logo</a>
  </div>
  <nav>
    <ul>
      <li><a href="#">Link Item</a></li>
      <li><a href="#">Link Item</a></li>
      <li><a href="#">Link Item</a></li>
      <li><a href="#">Link Item</a></li>
      <li><a href="#">Link Item</a></li>
    </ul>
  </nav>
</header>
