---
import logo from "../../assets/images/logo/HEBER_TOTAL_SORT.svg";
---

<header class="border border-blue-500">
  <div class="flex col justify-between border border-red-500 max-w-[1440px] mx-auto">
    <div class="w-[100px]">
      <a href="#"><img src={logo.src} alt="heber logo" /></a>
    </div>
    <nav>
      <ul class="flex col gap-5">
        <li>
          <details class="relative">
            <summary> Tjenester </summary>
            <ul class="p-10 border border-blue-500 fixed">
              <li><a href="#">Rekruttering</a></li>
              <li><a href="#">Rådgivning</a></li>
            </ul>
          </details>
        </li>
        <li class="font-area text-base"><a href="#">Om heber</a></li>
        <li class="font-area text-base"><a href="#">Link Item</a></li>
        <li class="font-area text-base"><a href="#">Link Item</a></li>
        <li class="font-area text-base"><a href="#">Link Item</a></li>
      </ul>
    </nav>
  </div>
</header>
