---
//component imports
import MainLayout from "../../layouts/MainLayout.astro";
import HeroSection from "../../components/sections/HeroSection.astro";
import SplitSection from "../../components/sections/SplitSection.astro";

// data imports
import { heroContent } from "../../data/heroContent";

const { title, description } = heroContent.kontakt;
---

<MainLayout title="Heber hodejeger | Kontakt meg">
  <HeroSection title={title} description={description} />
  <SplitSection>
    <div slot="left">
      <h2 class="font-semibold text-2xl mb-4">Send meg en e-post</h2>
      <form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/takk">
        <input type="hidden" name="form-name" value="contact" />

        <p class="hidden">
          <label>
            Ikke fyll ut dette feltet:
            <input name="bot-field" type="text" />
          </label>
        </p>

        <div class="my-4">
          <label for="name" class="mb-2 block font-semibold">Fullt navn</label>
          <input
            id="name"
            name="name"
            minlength="2"
            aria-describedby="name"
            type="text"
            placeholder="Full navn"
            required
            class="w-full border border-heber-black px-4 py-3 outline-none focus:border-heber-yellow"
          />
        </div>

        <div class="my-4">
          <label for="email" class="mb-2 block font-semibold">E-postadresse</label>
          <input
            id="email"
            name="email"
            type="email"
            placeholder="Din e-postadresse"
            aria-describedby="email-address"
            required
            class="w-full border border-heber-black px-4 py-3 outline-none focus:border-heber-yellow"
          />
        </div>

        <div class="my-4">
          <label for="message" class="mb-2 block font-semibold">Melding</label>
          <textarea
            id="message"
            name="message"
            required
            rows="6"
            minlength="10"
            placeholder="Hva kan jeg hjelpe deg med?"
            class="w-full border border-heber-black px-4 py-3 outline-none focus:border-heber-yellow"></textarea>
        </div>

        <button
          type="submit"
          class="inline-flex items-center text-white bg-heber-black border-heber-black justify-center rounded-full border px-6 pt-2 pb-3 text-base font-medium transition duration-200 ease-out hover:-translate-y-[1px] hover:opacity-90 active:translate-y-0 active:opacity-100 active:scale-[0.98] focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-heber-black/20"
        >
          Send melding
        </button>
      </form>
    </div>
    <div slot="right">
      <h2 class="font-semibold text-2xl mb-8" >Kontaktinformasjon</h2>
      <p class="mt-8 mb-4 text-lg font-semibold" > Anne Marit Heber Nærby</p>
      <ul>
        <li class="mb-2" >E-post: <a href="mailto:annemarit@heberhodejeger.no" class="font-semibold">annemarit@heberhodejeger.no</a></li>
        <li class="mb-2">Telefon:<a  href="tel:+4792449114" class="font-semibold">+47 924 49 114</a></li>
        <li class="mb-2">Org nr. <span class="font-semibold">928 48 3991</span></li>
      </ul>
    </div>
  </SplitSection>
</MainLayout>
