---
type Props = {
  title: string;
  description?: string;
  bgColor?: string;
};

const { title, description, bgColor } = Astro.props;
---

<section class:list={["max-w-[1440px] border border-heber-beige/50 mx-auto px-12 py-12 my-12", bgColor]}>
  <div class="max-w-[60ch]">
    <h2 class="text-3xl mb-6">{title}</h2>
    <p class="text-base mb-10">{description}</p>
    <slot />
  </div>
</section>
