---
//component imports
import MainLayout from "../../layouts/MainLayout.astro";
import HeroSection from "../../components/sections/HeroSection.astro";
import Button from "../../components/ui/Button.astro";
import { heroContent } from "../../data/heroContent";
---

<MainLayout title="my title for this website" title="my description for this website">
  <HeroSection title={heroContent.rådgivning.title} description={heroContent.rådgivning.description}>
    <Button href="/kontakt" variant="oxblood">Kontakt meg</Button>
  </HeroSection>
</MainLayout>
