---
//component imports
import MainLayout from "../../layouts/MainLayout.astro";
import HeroSection from "../../components/sections/HeroSection.astro";
import SplitSection from "../../components/sections/SplitSection.astro";
import Button from "../../components/ui/Button.astro";
import { heroContent } from "../../data/heroContent";
---

<MainLayout title="my title for this website" title="my description for this website">
  <HeroSection title={heroContent.rådgivning.title} description={heroContent.rådgivning.description}>
    <Button href="/kontakt" variant="oxblood">Kontakt meg</Button>
  </HeroSection>
   <SplitSection>
    <div slot="left">
      <h2 class="text-3xl mb-6">CV og søknad</h2>
      <p class="text-base">
        Jeg har brukt store deler av mitt yrkesliv på å lese CVer og søknader. Jeg har dermed lang erfaring i å se hvilke CVer som kan skille seg ut i mengden. En CV er heller ikke en statisk størrelse. Den må tilpasses etter hvilken stilling du søker. Jeg hjelper deg med det!
        <br />
        <br />

       Søknaden må man også gjøre seg flid med. Det kan føles tidkrevende, men det er verdt det. «Copy paste» er aldri en god idé. Den skal heller ikke være en oppsummering av CVen din. Jeg bistår gjerne med å få skrevet en søknad som får frem deg, din egnethet og motivasjon.
      </p>
    </div>
    <div slot="right">
    <h2 class="text-3xl mb-6">KI eller ikke KI?</h2>
      <p class="text-base">
        Det er selvsagt ikke noe galt i å bruke tilgjengelige hjelpemidler, det være seg til å skrive CV eller søknad. Det er en grunn til at vi i dag bruker PC og ikke fyllepenn... Men, man må bruke KI, som andre verktøy, intelligent. Ellers virker det mot sin hensikt. En KI-generert søknad uten kvalitetssikring avsløres veldig lett, og den havner høyst sannsynlig i søpla.



        <br />
        <br />

       Ta kontakt for en uforpliktende prat om hvordan jeg kan hjelpe deg med CV og søknad.
      </p>
    </div>
  </SplitSection>

</MainLayout>
