---
import MainLayout from "../layouts/MainLayout.astro";
import FrontPageHero from "../components/sections/FrontPageHero.astro";
import LogoSlider from "../components/sections/LogoSlider.astro";
import TestimonialSlider from "../components/sections/TestimonialSlider.astro";
import BannerCard from "../components/sections/BannerCard.astro";
import CardsSection from "../components/sections/CardsSection.astro";
import Card from "../components/ui/Card.astro";
import Button from "../components/ui/Button.astro";

//asstes imports
import image1 from "../assets/images/images/am1.webp";
import image2 from "../assets/images/images/man2.jpeg";
import image3 from "../assets/images/images/am2.webp";
---

<MainLayout>
  <FrontPageHero />
  <BannerCard title="Hvorfor velge meg?" description="Velg en rekrutterer som selv har vært i din verden" bgColor="bg-heber-beige/30">
    <Button href="/hvorfor-velge-meg" variant="oxblood">Les mer</Button>
  </BannerCard>
  <TestimonialSlider />
  <LogoSlider />
  <BannerCard
    title="Rekruttering"
    description="Rekrutteringsbehov kan variere. La meg gjerne ta hånd om prosessen fra A-Å, eller kun deler av den. Jeg er fleksibel."
    bgColor="bg-heber-beige/30"
  >
    <Button href="/rekruttering" variant="oxblood">Rekrutteringstjenester</Button>
  </BannerCard>

  <CardsSection>
    <div class="basis-full md:basis-[calc((100%-1.5rem)/2)] xl:basis-[calc((100%-3rem)/3)]">
      <Card
        borderColor="border-heber-beige/50"
        title="Om meg"
        description="Jeg som står bak Heber hodejeger er Anne Marit Heber Nærby. Jeg har over 20 års erfaring fra rekruttering."
        href="/om-meg"
        buttonText="Les mer"
        imageSrc={image1.src}
        imageAlt=""
      />
    </div>
    <div class="basis-full md:basis-[calc((100%-1.5rem)/2)] xl:basis-[calc((100%-3rem)/3)]">
      <Card
        borderColor="border-heber-beige/50"
        title="Rådgivning"
        description="Forbedre dine sjanser om jobbtilbud og intervjuer! Det kan være vanskelig å skille seg ut i mengden. Jeg hjelper deg med å løfte frem din kompetanse og egenskaper i CV'n og å skrive en god søknad - for nei, søknadsteksten er ikke død."
        href="rådgivning"
        buttonText="Les mer"
        imageSrc={image2.src}
        imageAlt=""
      />
    </div>
    <div class="basis-full md:basis-[calc((100%-1.5rem)/2)] xl:basis-[calc((100%-3rem)/3)]">
      <Card
        borderColor="border-heber-beige/50"
        title="Foredrag og workshops"
        description="Trenger du og din organisasjon tips og triks om hvordan lykkes med rekruttering? Ønsker du å unngå de vanligste feilene man gjør i nyansettelser? Jeg bistår gjerne."
        href="/foredrag-og-workshops"
        buttonText="Les mer"
        imageSrc={image3.src}
        imageAlt=""
      />
    </div>
  </CardsSection>
</MainLayout>
