---
//component imports
import MainLayout from "../../layouts/MainLayout.astro";
import HeroSection from "../../components/sections/HeroSection.astro";
import SplitSection from "../../components/sections/SplitSection.astro";
import BannerCard from "../../components/sections/BannerCard.astro";
import { heroContent } from "../../data/heroContent";
import image from "../../assets/images/images/am1.webp";

//ui imports
import Button from "../../components/ui/Button.astro";

const { title, description } = heroContent.omMeg;
---

<MainLayout title="Heber hodejeger | Om meg">
  <HeroSection title={title} description={description}>
    <Button href="/kontakt" variant="oxblood">Kontakt meg</Button>
  </HeroSection>
  <SplitSection>
    <div slot="left">
      <h2 class="text-3xl mb-6">Om meg</h2>
      <p class="text-base">
        Jeg som står bak Heber hodejeger er Anne Marit Heber Nærby. Jeg har over 20 års erfaring fra rekruttering. I mange år ledet jeg Mercuri Urvals mediebyrå
        Advalue media, som jeg også var med å stifte. De siste 13 årene har jeg vært å finne i Compass Human Resources, der jeg startet som Researcher, og etter
        hvert ble Research Manager, så konsulent og til slutt partner. Nå står jeg støtt på egne ben i mitt eget AS der jeg kan jobbe kun med deg jeg brenner
        for: et godt organisasjonsliv og god kommunikasjon og markedsføring.
        <br />
        <br />

        Før jeg ble hekta på gode rekrutteringer, var jeg innom politikk, journalistikk, kommunikasjon og markedsføring – og det er nettopp derfor min
        kundeportefølje ser ut som den gjør. Her finner du mange politisk styrte organisasjoner; en verden jeg kjenner fra innsiden. Men, jeg rekrutterer også
        til privat næringsliv, og da mye innen roller jeg kjenner, nemlig kommunikasjon, markedsføring og HR, på spesialist- og ledernivå.

        <br />
        <br />

        Allerede i studietiden var jeg aktiv i politikken, og nettverket jeg opparbeidet meg der, har jeg fortsatt – og dette relevante nettverket er naturlig
        nok blitt kraftig utvidet gjennom de ulike rollene jeg har hatt. Nettverket mitt er uvurderlig i rekrutteringsarbeidet.
      </p>
      <article>
        <h3 class="text-2xl mb-6 mt-6">Erfaring:</h3>
        <ul class="list-disc pl-6 mb-6">
          <li class="mb-2">2026 – d.d. Eier og daglig leder, Heber hodejeger</li>
          <li class="mb-2">2013 – 2026 Research Manager/seniorkonsulent/partner, Compass Human Resources AS</li>
          <li class="mb-2">2009 – 2013 Frilans journalist og oversetter</li>
          <li class="mb-2">2001- 2009 Daglig leder, Advalue media, Mercuri Urvals mediebyrå</li>
          <li class="mb-2">
            1993-2001 Diverse roller innen politikk og organisasjon i bl.a. Europabevegelsen, Byrådet i Oslo, Arbeiderpartiet, Norgesnettrådet (nå NOKUT),
            Human-Etisk Forbund mm.
          </li>
        </ul>
        <p>I de fleste av disse årene har jeg hatt ulike typer verv, bl.a. bydelsutvalg, skolers driftsstyre, lokalpolitikk for å nevne noe.</p>
      </article>
    </div>
    <div slot="right">
      <div>
        <img src={image.src} alt="Bilde av Anne Marit Heber Nærby" />
      </div>
    </div>
  </SplitSection>
  <SplitSection>
    <div slot="left">
      <h2 class="text-3xl mb-6">Verdier og samfunnsansvar</h2>
      <p class="text-base">Mine verdier er pålitelighet, ansvar og respekt. I tillegg er det viktig å vise samfunnsansvar.</p>
      <article>
        <h3 class="text-2xl mb-6 mt-10">Verdier</h3>
        <p>
          Heber hodejeger jobber alltid etter et sett med grunnleggende verdier:
          <br />
          <br />
          <span class="italic">Pålitelighet</span>
          <br />
          <br />
          Jeg gjør det jeg sier, og sier det jeg gjør. Alltid. Kunder og kandidater er like viktige i en rekrutteringsprosess, og begge parter skal vite at jeg holder
          det jeg lover.
          <br />
          <br />
          <span class="italic">Ansvar</span>
          <br />
          <br />
          Det ansvar jeg blir tillagt når jeg skal rekruttere for deg som oppdragsgiver, tar jeg på det største alvor. Det skal tas ansvar for alle trinnene i en
          rekrutteringsprosess, kun da blir resultatet optimalt.
          <br />
          <br />
          <span class="italic">Respekt</span>
          <br />
          <br />
          Kunder og kandidater skal behandles med største respekt, alltid. Kandidater bruker tid og krefter på en prosess, det fortjener å behandles respektfullt.
          Kunden har vist meg tillit til at de skal få den beste kandidaten. Det skal man være ydmyk for, og gjøre sitt ytterste for at så skjer.
        </p>
        <br />
        <br />
        <h2 class="text-3xl mb-6">Samfunnsansvar</h2>
        <p class="text-base">
          Heber hodejeger baserer sin virksomhet på prinsipper om god forretningsskikk. Tjenestene skal skape lønnsomhet for kundene og samfunnet som helhet.
          <br />
          <br />
          I likhet med alle de gode oppdragsgiverne, jobber Heber hodejeger også aktivt med å utøve samfunnsansvar i det daglige.
        </p>
      </article>
    </div>
    <div slot="right">
      <h2 class="text-3xl mb-6 mt-10">Stine Sofies stiftelse</h2>
      <p class="text-base">
        Heber hodejeger støtter helhjertet Stine Sofies stiftelses arbeid for barns trygghet. Altfor mange barn i Norge opplever omsorgssvikt. Stiftelsen gjør
        en fantastisk innsats for at disse barna skal få en trygg oppvekst og et godt liv. Til det trengs frivillige bidragsytere. Heber hodejeger er glad for å
        være en av dem.
      </p>
      <h2 class="text-3xl mb-6 mt-10">Redd barna</h2>
      <p class="text-base">
        Redd Barnas viktige arbeid vil dessverre aldri se en slutt. Derfor trenger de all den økonomiske bistand de kan få. Heber hodejeger bidrar gladelig med
        månedlige bidrag, og ekstra ved store katastrofer.
      </p>
      <h2 class="text-3xl mb-6 mt-10">Amnesty International</h2>
      <p class="text-base">
        Amnesty mottar ikke statsstøtte, og er helt avhengig av private bidrag. Heber hodejeger støtter deres utrettelige kamp mot overgrep og undertrykkelse
        verden over.
      </p>
      <h2 class="text-3xl mb-6 mt-10">Håndtering av personopplysninger</h2>
      <p class="text-base">
        Den nye personvernforordningen GDPR stiller tydelige krav til håndtering av personopplysninger og informasjon til kandidater i en rekrutteringsprosess.
        Heber hodejeger har rutiner som ivaretar forskriftene for behandling av kandidatopplysninger i henhold til regelverket. Dette omfatter innhenting av
        samtykke for oppbevaring av kandidatinformasjon, informasjon om kandidatenes rettigheter, rutiner for deling av kandidatinformasjon med oppdragsgiver,
        samt sletting av kandidatinformasjon i henhold til regelverket.
      </p>
    </div>
  </SplitSection>
  <BannerCard
    title="Rekruttering"
    description="Rekrutteringsbehov kan variere. La meg gjerne ta hånd om prosessen fra A-Å, eller kun deler av den. Jeg er fleksibel."
    bgColor="bg-heber-beige/30"
  >
    <Button href="/rekruttering" variant="oxblood">Rekrutteringstjenester</Button>
  </BannerCard>
</MainLayout>
